name: Release
on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build binaries
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: linux
            arch: amd64
          - os: linux
            arch: arm64
          - os: darwin
            arch: amd64
          - os: darwin
            arch: arm64
          - os: windows
            arch: amd64
          - os: windows
            arch: arm64
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          cache: false

      - name: Setup project
        run: go mod tidy && go mod download && go mod verify

      - name: Build binaries
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
        run: |
          VERSION=${{ github.ref_name }}
          BINARY_NAME=piphos
          if [ "${{ matrix.os }}" = "windows" ]; then
            go build -o ${BINARY_NAME}-${VERSION}-${{ matrix.os }}-${{ matrix.arch }}.exe .
          else
            go build -o ${BINARY_NAME}-${VERSION}-${{ matrix.os }}-${{ matrix.arch }} .
          fi

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: piphos-${{ matrix.os }}-${{ matrix.arch }}
          path: piphos-*
          retention-days: 1

  release:
    name: Create release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts

      - name: Create release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create ${{ github.ref_name }} \
            --title "Release ${{ github.ref_name }}" \
            --generate-notes \
            artifacts/*/*
